body {
  margin: 0px;
  background: url(https://www.cocacola.jp/top/images/hero_bg.png) no-repeat center -108px #f5f5f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 120px 25px 30px;
}

.navbar-left .navbar-item img {
  width: 183px;
  height: 58px;
}

.navbar-right {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.navbar-right .navbar-item {
  margin-right: 20px;
}

.product {
  display: flex;
  justify-content: center;
  position: relative;
}

.product-item img {
  display: flex;
  max-width: 70%;
  width: 1080px;
  margin: auto;
}

.product-box {
  position: absolute;
  top: 75%;
  left: 32%;
  padding: 0 30px 30px;
}

.product-heading {
  font-size: 24px;
  color: white;
}

.product-text {
  font-size: 14px;
  color: white;
}
