body {
  margin: 0px;
}

.navbar {
  background-color: red;
  display: flex;
  justify-content: space-between;
  padding: 25px 120px 25px 30px;
}

.navbar-left .navbar-item img {
  width: 183px;
  height: 58px;
}

.navbar-right {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.navbar-right .navbar-item {
  margin-right: 20px;
}
